@(albumGenres : List[AlbumGenre], retailers : List[Retailer], shelves : List[Bookshelf])
@doctype.render
<html>
    <head>
        <meta charset = "utf-8">
        <title>storefully - Adding an Album</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/jquery/jquery.min.js"></script>
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <!-- STYLE CSS -->
        <link rel = "stylesheet" href = "/assets/stylesheets/addalbum.css">
        <link rel = "stylesheet" href = "/assets/stylesheets/sidebar.css">
        <link rel = "stylesheet" href = "/assets/stylesheets/bodyfont.css">
    </head>

    <body>

        <div class = "nav-side-menu">
            <div class = "brand"><img src = "/assets/images/finallogo2.png" width = "150px"></div>
            <i class = "fa fa-bars fa-2x toggle-btn" data-toggle = "collapse" data-target = "#menu-content"></i>
            <i class = "fa fa-film"></i>

            <div class = "menu-list">

                <ul id = "menu-content" class = "menu-content collapse out">
                    <li>
                        <a href = "/" class = "ml-2">
                            Home
                            <div class = "float-right mr-2"><img src = "/assets/images/home.png" width = "10px"></div>
                        </a>
                    </li>

                    <li data-toggle = "collapse" data-target = "#service" class = "collapsed">
                        <a href = "#" class = "ml-2">Collections
                            <div class = "float-right mr-2"><img src = "/assets/images/arrow.png" width = "10px"></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "service">
                        @for(shelf<-shelves){
                        <li><a href = "/collection/@shelf.getBookshelfId" class = "ml-2">@shelf.getBookshelfName
                            <div class = "float-right mr-2"><img src = "/assets/images/bookshelf.png" width = "10px">
                            </div>
                        </a></li>
                        }
                    </ul>

                    <li data-toggle = "collapse" data-target = "#products" class = "collapsed active">
                        <a href = "#" class = "ml-2">Add Media
                            <div class = "float-right mr-2"><img src = "/assets/images/arrow.png" width = "10px"></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "products">
                        <li><a href = "/addbook" class = "ml-2">Add a Book
                            <div class = "float-right mr-2"><img src = "/assets/images/book.png" width = "10px"></div>
                        </a></li>
                        <li><a href = "/adddisc" class = "ml-2">Add a Disc
                            <div class = "float-right mr-2"><img src = "/assets/images/film.png" width = "10px"></div>
                        </a></li>
                        <li><a href = "/addgame" class = "ml-2">Add a Game
                            <div class = "float-right mr-2"><img src = "/assets/images/game.png" width = "10px"></div>
                        </a></li>
                        <li class = "active"><a href = "/addalbum" class = "ml-2">Add an Album
                            <div class = "float-right mr-2"><img src = "/assets/images/album.png" width = "10px"></div>
                        </a></li>
                        <li><a href = "/addbookshelf" class = "ml-2">Add a Bookshelf
                            <div class = "float-right mr-2"><img src = "/assets/images/bookshelf.png" width = "10px">
                            </div>
                        </a></li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class = "wrapper">
            <div class = "inner">
                <div class = "image-holder">
                    <img src = "/assets/images/record.jpg" alt = "">
                </div>
                <form method = "POST">
                    @helper.CSRF.formField
                    <h3>Add an Album</h3>
                    <div class = "form-wrapper">
                        <input type = "text" name = "albumname" placeholder = "Album Name" class = "form-control" required>
                        <i class = "zmdi zmdi-account"></i>
                    </div>
                    <div class = "form-wrapper">
                        <input type = "text" name = "artistname" placeholder = "Artist Name" class = "form-control" required>
                        <i class = "zmdi zmdi-account"></i>
                    </div>
                    <div class = "form-wrapper">
                        <select name = "genre" class = "form-control" required>
                            <option value = "" disabled selected>Genre</option>
                            @for(albumGenre<-albumGenres){
                            <option value = "@albumGenre.getAlbumGenreId">@albumGenre.getGenreName</option>
                            }
                        </select>
                        <i class = "zmdi zmdi-caret-down"></i>
                    </div>
                    <div class = "form-wrapper">
                        <select name = "retailer" class = "form-control" required>
                            <option value = "" disabled selected>Retailer</option>
                            @for(retailer<-retailers){
                            <option value = "@retailer.getRetailerId">@retailer.getRetailerName</option>
                            }
                        </select>
                        <i class = "zmdi zmdi-caret-down" style = "font-size: 17px"></i>
                    </div>
                    <div class = "form-wrapper">
                        <input type = "number" min = "0.00" step = "0.01" required name = "albumprice" placeholder = "Album Price" class = "form-control">
                        <i class = "zmdi zmdi-lock"></i>
                    </div>
                    <div class = "form-wrapper">
                        <select name = "bookshelf" class = "form-control" required>
                            <option value = "" disabled selected>Bookshelf</option>
                            @for(shelf<-shelves){
                            <option value = "@shelf.getBookshelfId">@shelf.getBookshelfName</option>
                            }
                        </select>
                        <i class = "zmdi zmdi-lock"></i>
                    </div>
                    <input class = "btn" type = "submit" value = "Save">
                    <i class = "zmdi zmdi-arrow-right"></i>
                    </input>
                </form>
            </div>
        </div>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>