@(booktypes : List[BookType], genres : List[Genre], retailers : List[Retailer], shelves : List[Bookshelf])
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body class = "bg-secondary">
        <nav class="navbar navbar-expand-lg text-light bg-dark mb-4">
            <a class="navbar-brand text-white" href="/">Navigation</a>
        </nav>

        <div class = "container">
            <div class = "form-group">
                <form method = "POST">
                    @helper.CSRF.formField
                    <h1 class = "display-1 text-white text-center">Add a Book</h1>
                    <div class = "input-group mb-3">
                        <div class = "input-group-prepend">
                            <span class = "input-group-text bg-info">General Information</span>
                        </div>
                        <input type = "text" name = "bookname" placeholder="Book Name">
                        <input type = "number" min = "0.00" step = "0.01" name = "bookprice" placeholder="Book Price">
                        <select name = "booktype">
                            <option selected>(Select a book type)</option>
                            @for(booktype<-booktypes){
                            <option value = "@booktype.getBookTypeId">@booktype.getBookTypeName</option>
                            }
                        </select>
                        <input type = "text" name = "authorname" placeholder="Author Name">
                    </div>

                    <div class = "input-group mb-3">
                        <div class = "input-group-prepend">
                            <span class = "input-group-text bg-info">Details</span>
                        </div>
                        <select name = "genre">
                            <option selected>(Select a genre)</option>
                            @for(genre<-genres){
                            <option value="@genre.getGenreId">@genre.getGenreName</option>
                            }
                        </select>
                        <select name = "retailer">
                            <option selected>(Select a retailer)</option>
                            @for(retailer<-retailers){
                            <option value="@retailer.getRetailerId">@retailer.getRetailerName</option>
                            }
                        </select>
                        <select name = "bookshelf">
                            <option selected>(Select a bookshelf)</option>
                            @for(shelf<-shelves){
                            <option value = "@shelf.getBookshelfId">@shelf.getBookshelfName</option>
                            }
                        </select>
                    </div>

                    <div class = "input-group mb-3">
                        <textarea placeholder="Insert your summary or thoughts here."></textarea>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>