@(disctypes : List[DiscType], genres : List[Genre], retailers : List[Retailer], shelves : List[Bookshelf])
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form method = "POST">
            @helper.CSRF.formField
            <input type = "text" name = "discname" placeholder="Disc Name" required>
            <input type = "number" min = "0.00" step = "0.01" name = "discprice" required>
            <select name = "disctype" required>
                <option selected>(Select a book type)</option>
                @for(disctype<-disctypes){
                <option value = "@disctype.getDiscTypeId">@disctype.getDiscTypeName</option>
                }
            </select>
            <select name = "genre" required>
                <option selected>(Select a genre)</option>
                @for(genre<-genres){
                <option value="@genre.getGenreId">@genre.getGenreName</option>
                }
            </select>
            <select name = "retailer" required>
                <option selected>(Select a retailer)</option>
                @for(retailer<-retailers){
                <option value="@retailer.getRetailerId">@retailer.getRetailerName</option>
                }
            </select>
            <input type = "text" name = "authorname" placeholder="Author Name" required>
            <select name = "bookshelf" required>
                <option selected>(Select a bookshelf)</option>
                @for(shelf<-shelves){
                <option value = "@shelf.getBookshelfId">@shelf.getBookshelfName</option>
                }
            </select>
        </form>
    </body>
</html>