@(book : Book, bookType : BookType, retailer : Retailer, bookGenre : BookGenre, bookshelf : Bookshelf, shelves : List[Bookshelf])
@doctype.render
<html>
    <head>
        <meta charset = "utf-8">
        <title>storefully - Viewing a Book</title>
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <script src = "/assets/lib/jquery/jquery.min.js"></script>
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <!-- STYLE CSS -->
        <link rel = "stylesheet" href = "/assets/stylesheets/editbook.css">
        <link rel = "stylesheet" href = "/assets/stylesheets/sidebar.css">
        <link rel = "stylesheet" href = "/assets/stylesheets/bodyfont.css">
        <link rel = "stylesheet" href = "/assets/lib/font-awesome/css/all.min.css">

    </head>

    <body>

        <!-- Navigation -->
        <div class = "nav-side-menu">
            <div class = "brand"><img src = "/assets/images/finallogo2.png" width = "150px"></div>
            <i class = "fa fa-bars fa-2x toggle-btn" data-toggle = "collapse" data-target = "#menu-content"></i>

            <div class = "menu-list">

                <ul id = "menu-content" class = "menu-content collapse out">
                    <li>
                        <a href = "/" class = "ml-2">
                            Home <div class = "float-right mr-1"><i class="fas fa-home"></i></div>
                        </a>
                    </li>

                    <li data-toggle = "collapse" data-target = "#service" class = "collapsed active">
                        <a href = "#" class = "ml-2">Collections
                            <div class = "float-right"><i class="fas fa-angle-double-down"></i></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "service">
                        @for(shelf<-shelves){
                        <li><a href = "/collection/@shelf.getBookshelfId" class = "ml-2">@shelf.getBookshelfName
                            <div class = "float-right mr-2"><img src = "/assets/images/bookshelf.png" width = "10px">
                            </div>
                        </a></li>
                        }

                    </ul>

                    <li data-toggle = "collapse" data-target = "#products" class = "collapsed">
                        <a href = "#" class = "ml-2">Add Media
                            <div class = "float-right"><i class="fas fa-angle-double-down"></i></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "products">
                        <li><a href = "/addbook" class = "ml-2">Add a Book
                            <div class = "float-right"><i class="fas fa-book"></i></div>
                        </a></li>
                        <li><a href = "/adddisc" class = "ml-2">Add a Disc
                            <div class = "float-right"><i class="fas fa-film"></i></div>
                        </a></li>
                        <li><a href = "/addalbum" class = "ml-2">Add an Album
                            <div class = "float-right"><i class="fas fa-compact-disc"></i></div>
                        </a></li>
                        <li><a href = "/addgame" class = "ml-2">Add a Game
                            <div class = "float-right"><i class="fas fa-gamepad"></i></div>
                        </a></li>
                        <li><a href = "/addbookshelf" class = "ml-2">Add a Bookshelf
                            <div class = "float-right"><i class="fas fa-book-open"></i>
                            </div>
                        </a></li>
                    </ul>
                </ul>
            </div>
        </div>

        <div class = "wrapper">
            <div class = "inner">
                <div class = "image-holder">
                    <img src = "/assets/images/shelf.jpg" alt = "">
                </div>
                <form method = "POST">
                    @helper.CSRF.formField
                    <h3>@book.getBookName</h3>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@book.getBookName" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@book.getAuthorName" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@bookType.getBookTypeName" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@book.getBookPrice" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@book.getFaceValue" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@retailer.getRetailerName"
                               class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@bookGenre.getBookGenreName" class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>

                    <div class = "form-wrapper">
                        <input type = "text" value = "@bookshelf.getBookshelfName"
                               class = "form-control">
                        <i class = "zmdi zmdi-account"></i>
                    </div>
                </form>
            </div>
        </div>

    </body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>