@(bookshelf : Bookshelf, books : List[BookDetail], games : List[GameDetail], discs : List[DiscDetail], albums : List[AlbumDetail], shelves : List[Bookshelf])
@doctype.render
<html lang = "en">

    <head>

        <meta charset = "utf-8">
        <meta name = "viewport" content = "width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name = "description" content = "">
        <meta name = "author" content = "">

        <title>storefully</title>

        <!-- Bootstrap core CSS -->
        <link rel = "stylesheet" href = "/assets/lib/bootstrap/css/bootstrap.min.css">
        <link rel = "stylesheet" href = "/assets/lib/font-awesome/css/all.min.css">
        <script src = "/assets/lib/jquery/jquery.min.js"></script>
        <script src = "/assets/lib/bootstrap/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href = "/assets/stylesheets/main.css">
        <meta name = "viewport" content = "width=device-width, initial-scale=1.0">

        <!-- STYLE CSS -->
        <link rel = "stylesheet" href = "/assets/stylesheets/sidebar.css">

    </head>

    <body>

        <!-- Navigation -->
        <div class = "nav-side-menu">
            <div class = "brand"><img src = "/assets/images/finallogo2.png" width = "150px"></div>
            <i class = "fa fa-bars fa-2x toggle-btn" data-toggle = "collapse" data-target = "#menu-content"></i>

            <div class = "menu-list">

                <ul id = "menu-content" class = "menu-content collapse out">
                    <li>
                        <a href = "/" class = "ml-2">
                            Home <div class = "float-right mr-1"><i class="fas fa-home"></i></div>
                        </a>
                    </li>

                    <li data-toggle = "collapse" data-target = "#service" class = "collapsed active">
                        <a href = "#" class = "ml-2">Collections
                            <div class = "float-right"><i class="fas fa-angle-double-down"></i></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "service">
                        @for(shelf<-shelves){
                        <li><a href = "/collection/@shelf.getBookshelfId" class = "ml-2">@shelf.getBookshelfName
                            <div class = "float-right mr-2"><img src = "/assets/images/bookshelf.png" width = "10px">
                            </div>
                        </a></li>
                        }

                    </ul>

                    <li data-toggle = "collapse" data-target = "#products" class = "collapsed">
                        <a href = "#" class = "ml-2">Add Media
                            <div class = "float-right"><i class="fas fa-angle-double-down"></i></div>
                        </a>
                    </li>
                    <ul class = "sub-menu collapse" id = "products">
                        <li><a href = "/addbook" class = "ml-2">Add a Book
                            <div class = "float-right"><i class="fas fa-book"></i></div>
                        </a></li>
                        <li><a href = "/adddisc" class = "ml-2">Add a Disc
                            <div class = "float-right"><i class="fas fa-film"></i></div>
                        </a></li>
                        <li><a href = "/addalbum" class = "ml-2">Add an Album
                            <div class = "float-right"><i class="fas fa-compact-disc"></i></div>
                        </a></li>
                        <li><a href = "/addgame" class = "ml-2">Add a Game
                            <div class = "float-right"><i class="fas fa-gamepad"></i></div>
                        </a></li>
                        <li><a href = "/addbookshelf" class = "ml-2">Add a Bookshelf
                            <div class = "float-right"><i class="fas fa-book-open"></i>
                            </div>
                        </a></li>
                    </ul>

                    <li>
                        <a href = "/collectionpdf" class = "ml-2">
                            PDF <div class = "float-right mr-1"><i class="fas fa-home"></i></div>
                        </a>
                    </li>


                    <li>
                        <a href = "#Books" class = "ml-2">
                            Books <div class = "float-right"><i class="fas fa-book"></i></div>
                        </a>
                    </li>

                    <li>
                        <a href = "#Discs" class = "ml-2">
                            Discs <div class = "float-right"><i class="fas fa-film"></i></div>
                        </a>
                    </li>

                    <li>
                        <a href = "#Albums" class = "ml-2">
                            Albums <div class = "float-right"><i class="fas fa-compact-disc"></i></div>
                        </a>
                    </li>

                    <li>
                        <a href = "#Games" class = "ml-2">
                            Games <div class = "float-right"><i class="fas fa-gamepad"></i></div>
                        </a>
                    </li>

                    <li>
                        <a href = "/deletecollection/@bookshelf.getBookshelfId" class = "ml-2">
                            Delete Collection <div class="float-right"><i class="fas fa-ban"></i></div>
                        </a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- Page Content -->
        <div class = "container">

            <!-- Jumbotron Header -->
            <div class = "alert alert-info alert-dismissible fade show" role = "alert">
                <h4 class = "alert-heading">Welcome to storefully!</h4>
                <p>storefully is an application created to help track various types of media you have in your
                    bookshelves. So far, it can keep track of your books, albums, discs (like DVDs and Blu-Rays), and
                    games.
                    Further improvements will be made in time and pushed as often as they can be.</p>
                <hr>
                <p class = "mb-0">Please note the navigation at the top that will take you through the various lists
                    (currently own
                    and a wishlist), and through the types of media on your current list. You can also add in new media
                    or update
                    existing media.</p>
                <button type = "button" class = "close" data-dismiss = "alert" aria-label = "Close">
                    <span aria-hidden = "true">&times;</span>
                </button>
            </div>

            <!-- Page Features -->
            <div class = "row text-center">

                <!--START OF BOOKS-->

                <div class = "col-md-12">
                    <h2 id = "Books" class = "pb-2 mb-4">Books</h2>
                </div>

                @for(book<-books){
                @if(bookshelf.getBookshelfId==book.getBookshelfId){
                <div class = "col-lg-3 col-md-6 mb-4">
                    <div class = "card h-100">
                        <img class = "card-img-top" src = "http://placehold.it/500x325" alt = "">
                        <div class = "card-body">
                            <h4 class = "card-title">@book.getBookName</h4>
                            <p class = "card-text">@book.getAuthorName</p>
                        </div>
                        <div class = "card-footer">
                            <a href = "/book/@book.getBookId" class = "btn btn-info">View</a>
                            <a href = "/updatebook/@book.getBookId" class = "btn btn-info">Edit</a>
                            <a href = "/deletebook/@book.getBookId" class = "btn btn-info">Delete</a>
                        </div>
                    </div>
                </div>
                }
                }

                <!--START OF DISCS-->

                <div class = "col-md-12">
                    <h2 id = "Discs" class = "pb-2 mb-4">Discs</h2>
                </div>

                @for(disc<-discs){
                @if(bookshelf.getBookshelfId==disc.getBookshelfId){
                <div class = "col-lg-3 col-md-6 mb-4">
                    <div class = "card h-100">
                        <img class = "card-img-top" src = "http://placehold.it/500x325" alt = "">
                        <div class = "card-body">
                            <h4 class = "card-title">@disc.getDiscName</h4>
                            <p class = "card-text">@disc.getDiscTypeName</p>
                        </div>
                        <div class = "card-footer">
                            <a href = "/disc/@disc.getDiscId" class = "btn btn-info">View</a>
                            <a href = "/updatedisc/@disc.getDiscId" class = "btn btn-info">Edit</a>
                            <a href = "/deletedisc/@disc.getDiscId" class = "btn btn-info">Delete</a>
                        </div>
                    </div>
                </div>
                }
                }

                <!--START OF ALBUMS-->

                <div class = "col-md-12">
                    <h2 id = "Albums" class = "pb-2 mb-4">Albums</h2>
                </div>

                @for(album<-albums){
                @if(bookshelf.getBookshelfId==album.getBookshelfId){
                <div class = "col-lg-3 col-md-6 mb-4">
                    <div class = "card h-100">
                        <img class = "card-img-top" src = "http://placehold.it/500x325" alt = "">
                        <div class = "card-body">
                            <h4 class = "card-title">@album.getAlbumName</h4>
                            <p class = "card-text">@album.getArtistName</p>
                        </div>
                        <div class = "card-footer">
                            <a href = "/album/@album.getAlbumId" class = "btn btn-info">View</a>
                            <a href = "/updatealbum/@album.getAlbumId" class = "btn btn-info">Edit</a>
                            <a href = "/deletealbum/@album.getAlbumId" class = "btn btn-info">Delete</a>
                        </div>
                    </div>
                </div>
                }
                }

                <!--START OF GAMES-->

                <div class = "col-md-12">
                    <h2 id = "Games" class = "pb-2 mb-4">Games</h2>
                </div>

                @for(game<-games){
                @if(bookshelf.getBookshelfId==game.getBookshelfId){
                <div class = "col-lg-3 col-md-6 mb-4">
                    <div class = "card h-100">
                        <img class = "card-img-top" src = "http://placehold.it/500x325" alt = "">
                        <div class = "card-body">
                            <h4 class = "card-title">@game.getGameName</h4>
                            <p class = "card-text">@game.getConsoleName</p>
                        </div>
                        <div class = "card-footer">
                            <a href = "/game/@game.getGameId" class = "btn btn-info">View</a>
                            <a href = "/updategame/@game.getGameId" class = "btn btn-info">Edit</a>
                            <a href = "/deletegame/@game.getGameId" class = "btn btn-info">Delete</a>
                        </div>
                    </div>
                </div>
                }
                }

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->

        <!-- Footer -->
        <footer class = "py-3 bg-light">
            <div class = "container">
                <p class = "mb-3 text-center">By Morgan McGonigal 2019</p>
            </div>
            <!-- /.container -->
        </footer>

        <!-- Bootstrap core JavaScript -->
        <script src = "vendor/jquery/jquery.min.js"></script>
        <script src = "vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    </body>

</html>
